@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    background-color:black;
    background-image: url("stars.jpg") ;
    background-repeat:no-repeat;

}
h1{
    color:rgb(255, 255, 255);
    font-family: "Roboto Mono", monospace;
    font-size:500%;
}
main{
    text-align:center;
    align-content:center;
}
#one{
    display:flex;
    justify-content:center;
    align-content:center;
    margin-top:100px;
}
#two{
    display:flex;
    justify-content:center;
    margin-left: 40px;
    margin-right:40px;
}
h1{
    animation:mainAnimation 1s 1;
    text-shadow:
    0 0 1em blue,
    0 0 0.2em blue;
}
@keyframes mainAnimation {
    0%{
        color:rgba(255,255,255,0.0);
    }
    10%{
        color:rgba(255,255,255,0.1);
    }
    20%{
        color:rgba(255,255,255,0.2);
    }
    30%{
        color:rgba(255,255,255,0.3);
    }
    40%{
        color:rgba(255,255,255,0.4);
    }
    50%{
        color:rgba(255,255,255,0.5);
    }
    60%{
        color:rgba(255,255,255,0.6);
    }
    70%{
        color:rgba(255,255,255,0.7);
    }
    80%{
        color:rgba(255,255,255,0.8);
    }
    90%{
        color:rgba(255,255,255,0.9);
    }
    100%{
        color:rgba(255,255,255,1);
    }
}
footer{
    margin-top:200px;
    font-family: "Roboto Mono", monospace;
    color:white;
    display:flex;
    justify-content:center;
}
@media screen and (max-width: 1408px){
    h1{font-size:400%;};
    
    
}
@media screen and (max-width: 1134px){
    h1{font-size:350%;};
    
    
}
@media screen and (max-width: 978px){
    h1{font-size:300%;};
    
    
}
@media screen and (max-width: 840px){
    h1{font-size:250%;};
    
    
}
@media screen and (max-width: 720px){
    h1{font-size:200%;};
    
    
}
@media screen and (max-width: 565px){
    h1{font-size:150%;};
    
    
}
@media screen and (max-width: 432px){
    h1{font-size:140%;};
    
    
}
